@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>COTI Informática</title>

    <!-- folhas de estilo CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container">

        <div class="card card-body bg-dark">
            <h3 class="text-white">Sistema de Controle de Clientes</h3>
        </div>

        <br />


        <!-- INICIO DO CONTEUDO PRINCIPAL -->
        @RenderBody()
        <!-- FIM DO CONTEUDO PRINCIPAL -->

    </div>

    <!-- Arquivos javascript -->
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>


