@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h4>Seja bem vindo ao projeto!</h4>
<ul>
    <li> <a href="/Cliente/Cadastro">Cadastrar Clientes</a> </li>
    <li> <a href="/Cliente/Consulta">Consultar Clientes</a> </li>
</ul>