@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h4>Seja bem vindo ao projeto</h4>
Escolha a ação desejada:
<hr />
<ul>
    <li>
        <a href="/Produto/Cadastro">Cadastrar Produtos</a>
    </li>
    <li>
        <a href="/Produto/Consulta">Consultar Produtos</a>
    </li>
</ul>