@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Seja bem vindo ao Projeto</h4>
<hr />

<a href="/Funcionario/Cadastro">
    Cadastrar Funcionários
</a>

<br />

<a href="/Funcionario/Consulta">
    Consultar Funcionários
</a>
